@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
     font-family: "IRANSans";
     src: url("/fonts/IRANSans-web.woff") format("woff");
     font-weight: normal;
     font-style: normal;
   }
   @layer utilities {
    .bg-custom {
      background-image: url('/public/image/footer/image-1.png');
    }
    .bg-multiple-2{
      background-image: url('/public/image/header.png');
    }
  }